.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-content .card{
    width: 500px;
    height: 450px;
    padding: 2rem;
    border: 0;
    border-radius: 5px;
}

.card-content .card img{
    width: 3rem;
}

.card-content .card title{
    font-size: 1.1rem;
    font-weight: 600;
}

.card-content .card input{
    padding: 12px 30px;
    border-radius: 1px;
}

.card-content .card button{
    background:#FF0211;
    color: #FFF;
    height: 50px;
}

.card-content .card button:hover{
    opacity: .8;
}

.card-content .card .form-check-input{
    padding: 5px;
}

.card-content .card .form-check-label, a{
    font-size: 14px;
}

.card-content .card  a{
    text-decoration: none;
}




